[submodule "hardware/ATTinyCore"]
	path = hardware/ATTinyCore
	url = https://github.com/SpenceKonde/ATTinyCore.git
[submodule "libraries/DLog"]
	path = libraries/DLog
	url = https://github.com/liebman/DLog.git
[submodule "libraries/DLogNet"]
	path = libraries/DLogNet
	url = https://github.com/liebman/DLogNet.git
[submodule "libraries/PinChangeInterrupt"]
	path = libraries/PinChangeInterrupt
	url = https://github.com/NicoHood/PinChangeInterrupt.git
[submodule "libraries/WiFiManager"]
	path = libraries/WiFiManager
	url = https://github.com/tzapu/WiFiManager.git
	branch = development
[submodule "hardware/esp8266"]
	path = hardware/esp8266
	url = https://github.com/esp8266/Arduino.git
