.metadata
.DS_Store
.ino.cpp
*/.project
*/.cproject
*/.settings
*/.pioenvs/
*/.piolibdeps/
*/spec.d
I2CAnalogClock/I2CAnalogClock.ino
SynchroClock/SynchroClock.ino
*/Release
*/Debug
*/libraries
*/lib
*/core
*.bak
*-bak
RemoteSystemsTempFiles
eagle/SynchroClock/SynchroClock.pro
eagle/SynchroClock/SynchroClock.b#*
eagle/SynchroClock/SynchroClock.l#*
eagle/SynchroClock/SynchroClock.s#*
